* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    margin: auto;
    width: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

.azzurro {
    color: rgb(132, 193, 243);
}

#container img {
    width: 100px;
    padding: 10px;
}