* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color {
    color: green;
}

.indigo {
    background-color: indigo;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

#container img {
    width: 100px;
    padding: 10px;
}